
body {
     font-family: Arial, sans-serif; /* Setting font to Arial with fallback of sans-serif */
     background-color: #f4f4f4; /* Setting bg color to light gray */
     margin: 0; /* Removing margins */

}

h2, h3 {
    margin: 0; /* remove margins */
    padding: 1em ; /* Providing spacing around content in the header */
}

p {
    font-size: 16px; /* Sets font to 16 px */
    line-height: 1.5; /* space between lines of 1.5 for better readability */
    color: #333; /* sets text to dark grey */
    margin: 1em 0; /* spacing above and below the paragraph. No horizontal spacing */
    text-align: justify; /* stretchs the line to align with left and right margins */
    font-weight: normal; /* text is regular thickness */
}

a {
    color: #007BFF; /* set color to blue */
    text-decoration:  none; /* removes underline on link */
}

a:hover {
    text-decoration: underline; /* underline link when hovered over */
}

img {
    max-width: 50%; /* setting width to 50% */
    display: block; /* display as a block */
    margin: 1em auto; /* center the image and add spacing on top and bottom */
}

form { 
    background-color: #fff; /* set color to white */
    padding: 1em; /* gives space around the content */
    border-radius:  5px; /* round the corners for better appearance */
    max-width: 500px; /* setting max width to the form */
    margin: 1em auto; /* center the form horitzonally and adding space on top and bottom */
    box-shadow: 0px 0px 15 px rgba(0, 0, 0, 0.1); /* adding a shadow for depth */
}

/* Class selectors */

.full-width-bg {
    background-color: #333; /* Sets bg color to black */
    color: #fff; /* Sets text color to white */
    width: 100%; /* Spans full width */
    text-align: center; /* Aligns text to the center */  
    padding: 1em 0; /* Sets padding top, bottom, left, and right */
    margin: 0; /* No margins */
}   

.technique-images {
    display: block; /* display image as a block */
    margin-right: auto; /*automatticaly adjust the right margin */
    margin-left: 0; /* margin left is set to 0 */
    max-width: 50%; /* max width is 50% */
}

/* id selector */

#table-highlight tr:hover {
    background-color: lightgreen; /* Sets bg color to light green */
}